@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --red: #d73c3c;
    --lightgreen: #dff1e7;
    --darkgreen: #0c7d69;
    --darkergreen:#074439;
    --lightgrey: #87a3a6;
    --darkgrey: #2b4246;
    --white: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "karla";
}

.main {
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightgreen);
}

.background {
    /* estilização do fundo */
    width: 40rem;
    height: 42.5rem;
    background-color: var(--white);
    border-radius: 10px;
    margin: 10px 25px;
}

.container {
    /* Exclusivo para regras de espaçamento e posicionamento */
    padding: 0 35px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.contact {
    /* text-decoration: none; */
    font-weight: 700;
    font-size: 2rem;
    color: var(--darkgrey);
}

.inputName {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    border: none;
}

.firstName{
    display: flex;
    flex-direction: column;
    width: 47.5%;
}

.firstName_label {
    font-size: .8rem;
    color: var(--darkgrey);
}

.firstName_input{
    margin-top: 10px;
    padding: 0 10px;
    height: 2.5rem;
    border-radius: 5px;
    border-width: .5px;
    border-style: solid; 
    border-color: var(--lightgrey);
    outline: none;
}
/* A cor da borda só é alterada após inserir o border-style  */

.lastName {
    display: flex;
    flex-direction: column;
    width: 47.5%;
}

.lastName_label {
    font-size: .8rem;
    color: var(--darkgrey);
}

.lastName_input {
    margin-top: 10px;
    padding: 0 10px;
    height: 2.5rem;
    border-radius: 5px;
    border-width: .5px;
    border-style: solid;
    border-color: var(--lightgrey);
    outline: none;
}

.inputEmail {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.email_label {
    font-size: .8rem;
    color: var(--darkgrey);
}

.email_input {
    margin-top: 10px;
    padding: 0 10px;
    height: 2.5rem;
    border-radius: 5px;
    border-width: .5px;
    border-style: solid;
    border-color: var(--lightgrey);
    outline: none;
}

.queryType {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    border: none;
}

.queryType_legend {
    font-size: .8rem;
    color: var(--darkgrey);
}

.queryType_container {
    width: 47.5%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px;
    height: 2.5rem;
    border-radius: 5px;
    border-width: .5px;
    border-style: solid; 
    border-color: var(--lightgrey);
    outline: none;  
    cursor: pointer;
    transition: .1s;  
}

.queryType_radio {
    appearance: none;
    margin-left: 20px;
    width: 16px;
    height: 16px;
    border: solid 1px var(--darkgrey);
    border-radius: 50%;
    transition: .1s all linear;
}


.queryType_radio:checked {
    background-color: var(--darkgreen);
    box-shadow: inset 0 0 0 2px var(--white);
    border: solid 2px var(--darkgreen);
}

.queryType_radio:checked + .queryType_label {
    color: var(--darkgreen);
}

.queryType_label {
    font-size: 1rem;
    color: var(--darkgrey);
    margin-left: 10px;
}


.message {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.messageLabel {
    font-size: .8rem;
    color: var(--darkgrey);
}

.messageBox {
    margin-top: 10px;
    padding: 10px;
    height: 7.5rem;
    border-radius: 5px;
    border-width: .5px;
    border-style: solid;
    border-color: var(--lightgrey);
    outline: none;
    resize: none;
}

.charCount {
    align-self: flex-end;
    margin-top: 10px;
    font-size: .8rem;
    color: var(--lightgrey);
}

.border_change:hover {
    background-color: var(--lightgreen);
    border: solid .5px var(--darkgreen);
}

.consent {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.consent_chkbox {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: var(--white);
    border: solid 1px var(--darkgreen);
    position: relative;
    transition: .2s;
}

.consent_chkbox:checked {
    background-color: var(--darkgreen);
}

.consent_chkbox::after {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -0.5px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: .6rem;
    visibility: hidden;
}

.consent_chkbox:checked::after {
    content: '✓';
    visibility: visible;
}

.consent_label {
    font-size: .8rem;
    color: var(--darkgrey);
    margin-left: 10px;
}

.button {
    height: 40px;
    margin-top: 40px;
    background-color: var(--darkgreen);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--darkergreen);
}

.button_text {
    color: var(--white);
    font-weight: 700;
}

@media (max-width: 600px) {
    .background {
        /* estilização do fundo */
        width: 40rem;
        min-height: 100svh;
        background-color: var(--white);
        border-radius: 10px;
        /* margin: 10px 25px; */
    }
    
    .contact {
        align-self: center;
    }

    .inputName {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        border: none;
    }

    .firstName{
        width: 100%;
    }

    .lastName{
        width: 100%;
        margin-top: 15px;
    }

    .inputEmail {
        margin-top: 15px;
    }

    .queryType {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        border: none;
    }

    .queryType_container {
        width: 100%;
    }

    .message {
        margin-top: 15px;
    }


}